@charset "UTF-8";

a div{
	color:#193669;
	fill:#193669;
	
}
a div:hover{
	color:black;
	fill:black;
}

button img{
	fill:#193669;
}

button img:hover{
	fill:#0261ff;
	
}
.submitButton {
  position: relative;
  display: inline-block;
  height: 42px;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 124px;
  max-width: 300px;
  margin: 0;
  padding: 0 24px;
  border: 0;
  border-style: none;
  border-radius: var(--buttonBorderRadius);
  cursor: pointer;
  color: #fff;
  height: 36px;
  max-width: 240px;
  padding: 0 18px;
  background-color: #193669;
}

@media(min-width:940px) {
  .ruYrk {
    justify-content: flex-end;
  }
  ._2Ysrr {
    flex: 0 0 auto;
  }
  .submitButton {
    width: auto;
    padding: 0 24px;
  }
}

@media only screen and (max-width:640px) {
  ._208Ie {
    clear: both;
    margin: 0;
  }
}


@media(min-width:940px) {
  ._3Z-pR {
    z-index: 1;
  }
}

@media only screen and (max-width:640px) {
  ._208Ie {
    clear: both;
    margin: 0;
  }
  .submitButton:hover {
    background-color: transparent;
  }
  ._208Ie {
    clear: both;
    margin: 0;
  }
}

@media(min-width:500px) {
  ._2PJfR {
    display: flex;
    padding: 0;
  }
}

@media(min-width:940px) {
  ._2Al4k {
    font-size: 14px;
  }
}

.search-input {
  width: 200px;
  position: relative;
}

:root {
  --color_0: 255,255,255;
  --color_1: 0,0,0;
  --color_2: 25,54,105;
  --color_3: 25,25,25;
  --color_4: 247,247,247;
  --color_5: 60,152,252;
  --color_6: 255,255,255;
  --color_7: 191,191,191;
  --color_8: 128,128,128;
  --color_9: 64,64,64;
  --color_10: 0,0,0;
  --color_11: 255,255,255;
  --color_12: 191,191,191;
  --color_13: 128,128,128;
  --color_14: 64,64,64;
  --color_15: 0,0,0;
  --color_16: 153,181,231;
  --color_17: 50,107,206;
  --color_18: 25,54,105;
  --color_19: 17,36,70;
  --color_20: 8,18,35;
  --color_21: 209,209,209;
  --color_22: 163,163,163;
  --color_23: 117,117,117;
  --color_24: 71,71,71;
  --color_25: 25,25,25;
  --color_26: 251,251,251;
  --color_27: 247,247,247;
  --color_28: 185,185,185;
  --color_29: 124,124,124;
  --color_30: 62,62,62;
  --color_31: 128,164,224;
  --color_32: 38,82,156;
  --color_33: 28,61,117;
  --color_34: 19,41,78;
  --color_35: 10,20,39;
  --font_0: 700 22px/1.41em "Noto Sans KR",sans-serif;
  --font_1: 500 14px/1.79em "Noto Sans KR",sans-serif;
  --font_2: 700 28px/1.375em "Noto Sans KR",sans-serif;
  --font_3: 700 88px/1.2em "Noto Sans KR",sans-serif;
  --font_4: 700 72px/1.25em "Noto Sans KR",sans-serif;
  --font_5: 700 50px/1.34em "Noto Sans KR",sans-serif;
  --font_6: 700 40px/1.35em "Noto Sans KR",sans-serif;
  --font_7: 300 20px/1.67em "Noto Sans KR",sans-serif;
  --font_8: 500 18px/1.75em "Noto Sans KR",sans-serif;
  --font_9: 300 15px/1.875em "Noto Sans KR",sans-serif;
  --font_10: 500 14px/1.79em "Noto Sans KR",sans-serif;
  --font_11: 300 30px/1.375em "Noto Sans KR",sans-serif;
  --wix-ads-height: 50px;
  --wix-ads-top-height: 50px;
  --above-all-z-index: 100000;
  --minviewportsize: 320;
  --maxviewportsize: 1920;
}

a, body, button, div, form, h1, html, img, li, nav, ol, p, section, span, title, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 10px;
  font-family: Noto Sans Kr,sans-serif;
}

input {
  font-family: Noto Sans Kr,sans-serif;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
}

:focus {
  outline: none;
}

._1Xv2l:not(.YjEFw) ._1g1sc:not(:hover) ._3rNmY {
  opacity: .8;
}

html, body, div, span, h1, p, a, img, ol, ul, li, form, article, main, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

html.enable-scroll body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/*! rtl:ignore*/

.kcuBq {
  box-sizing: border-box;
  position: relative;
  min-height: 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kcuBq * {
  -webkit-tap-highlight-color: transparent;
}

._208Ie {
  margin: 0;
}

.vkIF2 {
  display: block;
}

._3GgdB::-webkit-scrollbar:horizontal {
  height: 10px;
}

.app-mobile ._3777I._1dQP3 ._1atvN:not([class*="rich_content_line-height"]):is(h2):not([class*="headerTwo"]) {
  line-height: var(--ricos-custom-h2-line-height,30px);
}

.app-mobile ._3777I._1dQP3 ._1atvN:not([class*="rich_content_line-height"]):is(h3):not([class*="headerThree"]) {
  line-height: var(--ricos-custom-h3-line-height,26px);
}

._3kOlb:not(._3RpCC) .YskFr._2THhL ._22UQF:not([class*="rich_content_line-height"]):is(h2):not([class*="headerTwo"]) {
  line-height: var(--ricos-custom-h2-line-height,30px);
}

._3kOlb:not(._3RpCC) .YskFr._2THhL ._22UQF:not([class*="rich_content_line-height"]):is(h3):not([class*="headerThree"]) {
  line-height: var(--ricos-custom-h3-line-height,26px);
}

.submitButton:hover {
  background-color: #0261ff;
}

._1GCOr::-webkit-scrollbar:horizontal, ._6sRmY::-webkit-scrollbar:horizontal {
  height: 10px;
}

.linebox {
  width: 100%;
  min-height: 200px;
  background: #fff;
  border: 1px solid #b9b2b2;
  border-radius: 2px;
  background-color: var(--ricos-background-color,unset);
  margin-right: auto;
  margin-left: auto;
  overflow-x: visible;
  z-index: 2;
  margin-top: 30px;
}

.lineboxContainer {
  padding: 20px;
}

._13VZM::-webkit-scrollbar:horizontal {
  height: 10px;
}

.submitButton:hover {
  background-color: #0261ff;
  color: #fff;
}

.kcuBq {
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kcuBq * {
  -webkit-tap-highlight-color: transparent;
}

.kcuBq .kaqlz {
  box-sizing: border-box;
}

.kcuBq .kaqlz *, .kcuBq .kaqlz :after, .kcuBq .kaqlz :before {
  box-sizing: inherit;
}

.kaqlz {
  width: 100%;
  height: 100px;
  line-height: 1.5;
  font-size: 16px;
  color: var(--ricos-text-color,#212121);
  white-space: pre-wrap!important;
  overflow-wrap: break-word;
  background-color: var(--ricos-bg-color-container,unset);
}

.kaqlz:after {
  content: "";
  display: table;
  line-height: 0;
  clear: both;
}

._208Ie {
  margin: 0;
}

span {
  z-index: 10!important;
}

._3Cioj {
  height: 1px;
  opacity: .15;
}

._2LXiY {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;  background-size: cover;
}

._2LXiY:after {
  display: block;
  padding-bottom: 100%;
}

._14_Ju {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

._2jKCS {
  font-size: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: 0 0;
}

.LTwPD {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}

._2B7gt {
  border-radius: var(--buttonBorderRadius);
}

._2FqU5 {
  overflow-wrap: break-word;
  font-size: inherit;
  line-height: 1;
  margin: 2px 0 0;
  padding: 0 18px;
}

._3N7Rh {
  text-overflow: inherit;
  overflow: inherit;
  width: 100%;
}

._33VI0 {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

._3xObj {
  display: inline-flex;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: initial;
  line-height: 20px!important;
  margin-right: 20px;
}

._3xObj>:not(._3q5sF) {
  font-size: 14px!important;
}

._3xObj a {
  color: inherit;
  text-decoration: none;
}

._3xObj span:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

._3xObj ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

._3xObj li {
  display: inline;
}

._3q5sF {
  padding-left: 18px;
  padding-right: 18px;
}

._18QAN {
  overflow: hidden;
  text-overflow: ellipsis;
}

.forum-content-classic-font, .forum-title-classic-font {
  line-height: normal!important;
}

._1W1_h {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

._2LHxU {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._3C0hA {
  margin-right: 0;
}

._3iW6- {
  width: 200px;
}

._2RwOg {
  position: relative;
  transition: all .5s ease;
  height: 20px;
  width: 100%;
}

._1quPh {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 20px!important;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease;
  display: inline-block;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  left: 0;
  padding: 0 20px 0 34px;
}

._1quPh::-webkit-input-placeholder {
  color: inherit;
  opacity: .6;
  -webkit-transition: color .5s;
  transition: color .5s;
}

._1quPh:-moz-placeholder, ._1quPh::-moz-placeholder {
  color: inherit;
  opacity: .6;
  -moz-transition: color .5s;
  transition: color .5s;
}

._1quPh:-ms-input-placeholder {
  color: inherit;
  opacity: .6;
  -ms-transition: color .5s;
  transition: color .5s;
}

._1quPh:focus {
  outline: 0;
}

.GPrPx {
  display: inline-block;
}

._2nmH8 {
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  visibility: hidden;
  padding: 1px 20px 0 34px;
}

.q4nje {
  height: 1px;
  opacity: .5;
  transition: all .5s ease;
}

.forum-content-classic-font {
  font: 300 14px/17px "Noto Sans Kr",sans-serif;
  text-decoration: none;
}

.forum-title-classic-font {
  font: 500 16px/20px "Noto Sans Kr",sans-serif;
  text-decoration: none;
}

.desktop-header-search-font {
  font: 500 14px/normal "Noto Sans KR",sans-serif;
}

.forum-card-background-color {
  background-color: #fff;
}

.forum-icon-fill {
  fill: #000;
}

.forum-icon-stroke {
  stroke: #000;
}

.forum-text-color {
  color: #000;
}

.forum-separator-background-color, .desktop-header-search-border-background-color {
  background-color: #000;
}

.breadcrumbs-icon-fill {
  fill: #000;
}

.breadcrumbs-text-color, .desktop-header-search-text-color {
  color: #000;
}

.forum-card-background-color {
  background-color: #fff;
}

.forum-card-border-color {
  border-color: rgba(0,0,0,.25);
}

._3B7XB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 940px;
  width: calc(100% - 20px - 20px);
  max-width: 940px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

._3GgdB::-webkit-scrollbar:horizontal {
  height: 10px;
}

:focus {
  outline: none;
}

.forum-content-classic-font, .forum-title-classic-font {
  line-height: normal!important;
}

._1W1_h {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

._3Cioj {
  height: 1px;
  opacity: .15;
}

._3-clJ {
  position: relative;
}

.GNZwK {
  width: 100%;
  position: relative;
}

._2LXiY {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 1000 1000'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23cccccc; %7D .cls-2 %7B fill: %23a0a09f; fill-rule: evenodd; %7D %3C/style%3E %3C/defs%3E %3Ccircle class='cls-1' cx='500' cy='500' r='500'/%3E %3Cpath id='Forma_1' data-name='Forma 1' class='cls-2' d='M830.8,874.927c-77.344-60.8-187.181-104.877-227.88-111.347-20.335-3.233-20.8-59.1-20.8-59.1s59.746-59.106,72.768-138.584c35.029,0,56.666-84.5,21.631-114.226C677.986,420.37,721.551,206,501,206S324.015,420.37,325.473,451.666c-35.033,29.729-13.4,114.226,21.632,114.226,13.021,79.478,72.77,138.584,72.77,138.584s-0.464,55.871-20.8,59.1c-40.883,6.5-151.537,50.943-228.934,112.176C65.84,784.12,0,649.751,0,500,0,223.858,223.858,0,500,0s500,223.858,500,500C1000,649.3,934.559,783.311,830.8,874.927ZM500,1000h0Z'/%3E %3C/svg%3E") no-repeat center;
  background-size: cover;
}

._2LXiY:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

._14_Ju {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

._14_Ju._28gI0 {
  width: 28px;
  height: 28px;
}

._31l-O {
  display: flex;
  align-items: center;
}

.LXBdL {
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


._1_vuc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
}

.Nrvl9 {
  overflow: hidden;
}

._1cpII {
  cursor: pointer;
}

._1zT4G {
  flex-shrink: 0;
}

._2jKCS {
  font-size: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: 0 0;
}

._2B7gt {
  border-radius: var(--buttonBorderRadius);
}

._2uwD1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px 12px;
}

._35gyg {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

._1tCTK {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

._2FqU5 {
  overflow-wrap: break-word;
  font-size: inherit;
  line-height: 1;
  margin: 2px 0 0;
  padding: 0 18px;
}

._2FqU5._2-LCm {
  font-size: 16px!important;
  line-height: 1.5!important;
  margin-top: 0;
  padding: 0 20px;
}

._3N7Rh {
  text-overflow: inherit;
  overflow: inherit;
  width: 100%;
}

._33VI0 {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dr0cE {
  position: relative;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}

._2jNAb {
  display: flex;
  align-items: center;
}

._1vv4e {
  overflow: hidden;
  flex-grow: 1;
  cursor: pointer;
}

.B9kqa {
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._1xqeV {
  display: flex;
  align-items: center;
}

._1uKCP {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 8px;
}

._2IYLE {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

._1dO0B {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  opacity: .8;
  margin-right: 0;
  margin-left: 8px;
}

._2IGSa, ._2RCpN {
  margin-right: 0;
}

._2PJfR {
  display: flex;
  font-size: 12px;
}

._2Al4k {
  font-size: 12px;
  opacity: .8;
  margin-left: 15px;
}

.ruYrk {
  display: flex;
}

._2Ysrr {
  flex: 0 0 50%;
  padding: 0 12px;
}

._3xObj {
  display: inline-flex;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: initial;
  line-height: 20px!important;
  margin-right: 20px;
}

._3xObj>:not(._3q5sF) {
  font-size: 14px!important;
}

._3xObj a {
  color: inherit;
  text-decoration: none;
}

._3xObj a:hover {
  text-decoration: underline;
}

._3xObj span:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

._3xObj ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

._3xObj li {
  display: inline;
}

._3q5sF {
  padding-left: 18px;
  padding-right: 18px;
}

._18QAN {
  overflow: hidden;
  text-overflow: ellipsis;
}

._2LHxU {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._3YKCe {
  display: flex;
  align-items: center;
}

._3C0hA {
  margin-right: 0;
}

.ONcxA {
  margin-left: 12px;
  margin-right: -12px;
}

._3iW6- {
  width: 200px;
}

._2RwOg {
  position: relative;
  transition: all .5s ease;
  height: 20px;
  width: 100%;
}

._1quPh {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 20px!important;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s ease;
  display: inline-block;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  left: 0;
  padding: 0 20px 0 34px;
}

._1quPh::-webkit-input-placeholder {
  color: inherit;
  opacity: .6;
  -webkit-transition: color .5s;
  transition: color .5s;
}

._1quPh:-moz-placeholder, ._1quPh::-moz-placeholder {
  color: inherit;
  opacity: .6;
  -moz-transition: color .5s;
  transition: color .5s;
}

._1quPh:-ms-input-placeholder {
  color: inherit;
  opacity: .6;
  -ms-transition: color .5s;
  transition: color .5s;
}

._1quPh:focus {
  outline: 0;
}

.GPrPx {
  display: inline-block;
}

._2nmH8 {
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  visibility: hidden;
  padding: 1px 20px 0 34px;
}

.q4nje {
  height: 1px;
  opacity: .5;
  transition: all .5s ease;
}

._3B7XB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 940px;
  width: calc(100% - 20px - 20px);
  max-width: 940px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

._14Bsb {
  display: flex;
  flex-direction: column;
}

._2niiD {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

._3Rzd4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1px;
}

._1QEV9 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._1laFb {
  flex-direction: column;
  display: flex;
  width: 100%;
  font-size: 12px;
  line-height: 1.75;
  border: 1px solid;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: var(--postBorderRadius);
}

._2Qq4e {
  font-size: 16px;
  margin-bottom: 20px;
}

.kcuBq {
  box-sizing: border-box;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kcuBq * {
  -webkit-tap-highlight-color: transparent;
}

.kaqlz:after {
  content: "";
  display: table;
  line-height: 0;
  clear: both;
}

._208Ie {
  margin: 0;
}

._3GgdB::-webkit-scrollbar:horizontal {
  height: 10px;
}

._25MYV, ._25MYV>* {/*!rtl:ignore*/ 
  text-align: left!important;
}

._3JyXP {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

._18B2H ._3JyXP {
  font-family: inherit;
}

._18B2H._1bYoS ._3JyXP {
  font-size: 18px;
  line-height: 29px;
}

._18B2H ._3JyXP {
  color: inherit;
}

.cNOAl ._3ogUL {
  font-size: 16px;
  line-height: 1.5;
}

._3ogUL:first-child {
  margin-top: 0;
}

._18B2H *:focus {
  outline: 0;
}

._3JQ_x {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0;
  width:100%;
}

._1XN4n {
  position: relative;
  width: 100%;
  word-break: break-word;
  padding-bottom: 0;
}

._2bdhY {
  margin-bottom: 12px;
}

._1MbOK {
  word-wrap: break-word;
  margin-top: 0;
  padding: 0 20px;
}

.lrDj7 {
  display: flex;
  justify-content: center;
}

._2bKV7 {
  width: 100%;
  border-bottom: 1px solid;
}

._3xzB6 {
  margin-left: 16px;
}

._1xs1G {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

._1AA4r {
  display: flex;
  align-items: center;
  margin: 0 auto 0;
  padding: 0 32px;
}

.KkXMX {
  color: inherit;
  font-size: 14px!important;
  opacity: .8;
  display: flex;
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  margin-right: 14px;
  align-items: center;
  display:flex;
  gap:5px;
}

._39-Jn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

._2UNF9 {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

._3U6Eq {
  margin-right: 16px;
}

._2TIT4 {
  display: flex;
  align-items: center;
}

._3DfnL {
  font-size: 14px;
  opacity: .8;
  min-width: 30px;
  margin-left: 8px;
  text-align: left;
}

._3DfnL:hover {
  text-decoration: underline;
}

._3DfnL._344s1:hover {
  text-decoration: none;
}

._2x6sh.gOtux ._1TaxU {
  font-size: 16px!important;
  line-height: 1.5!important;
}

._3tcqp {
  font-size: 16px;
  line-height: 1.5;
}

._2eog5._2aERR ._2QDTJ {
  font-size: 16px!important;
  line-height: 1.5!important;
}

.cw1QM {
  font-size: 16px;
  line-height: 1.5;
}

.kIBre {
  flex: 1 0 auto;
  width: 100%;
  padding-top: 40px;
}

._3Z-pR {
  flex: none;
}

._2HBxV {
  font-size: 12px;
  margin-left: 5px;
}

._3rPwO {
  line-height: 0!important;
}

.A9boD {
  flex: 0 0 auto;
  margin-right: 36px;
  color: inherit;
										font-size: 14px!important;
										opacity: .8;
										display: flex;
										border: 0;
										background: none;
										padding: 0;
										cursor: pointer;
										align-items: center;
										display:flex;
										gap:5px;
										
    margin-left: auto;
}

._2FVeM {
  margin-top: 12px;
  padding: 0 20px 0 16px;
  display:flex;
}

._1Fwxt {
  margin-bottom: 0;
}

._1KEid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding-bottom: 20px;
}

._2uZDd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

._2cpHr {
  width: 100%;
  padding-bottom: 16px!important;
  border-top-style: solid;
  border-top-width: 1px;
}

._36m3S {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

._1zsKH {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 33332;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

._1zsKH.hHz9Y {
  border-bottom: none;
  margin-bottom: 0;
}

.eGv_z {
  width: 100%;
}

.Zn7WQ {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
  margin-bottom: 24px;
}

.dGa6G {
  margin: 0 0 20px;
  padding: 0 0 4px;
}

.QZ-R_ {
  width: 100%;
  margin: 0 auto;
}

._2r1LV {
  border-style: solid;
  border-top: none;
  border-bottom: none;
  padding: 0;
}

* {
  --ricos-text-color: #000;
  --ricos-text-color-tuple: 0,0,0;
  --ricos-action-color: #193669;
  --ricos-action-color-tuple: 25,54,105;
  --ricos-action-color-fallback: #193669;
  --ricos-action-color-fallback-tuple: 25,54,105;
  --ricos-background-color: #fff;
  --ricos-background-color-tuple: 255,255,255;
  --ricos-fallback-color: #000;
  --ricos-fallback-color-tuple: 0,0,0;
}

span {
  z-index: 10!important;
}

html, body, div, span, article, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, main {
  display: block;
}

body {
  line-height: 1;
}

html.enable-scroll body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
}

/*! rtl:ignore*/

.app-mobile ._3777I._1dQP3 ._1atvN:not([class*="rich_content_line-height"]):is(h2):not([class*="headerTwo"]) {
  line-height: var(--ricos-custom-h2-line-height,30px);
}

.app-mobile ._3777I._1dQP3 ._1atvN:not([class*="rich_content_line-height"]):is(h3):not([class*="headerThree"]) {
  line-height: var(--ricos-custom-h3-line-height,26px);
}

._3kOlb:not(._3RpCC) .YskFr._2THhL ._22UQF:not([class*="rich_content_line-height"]):is(h2):not([class*="headerTwo"]) {
  line-height: var(--ricos-custom-h2-line-height,30px);
}

._3kOlb:not(._3RpCC) .YskFr._2THhL ._22UQF:not([class*="rich_content_line-height"]):is(h3):not([class*="headerThree"]) {
  line-height: var(--ricos-custom-h3-line-height,26px);
}

._3GgdB::-webkit-scrollbar:horizontal, ._1GCOr::-webkit-scrollbar:horizontal, ._6sRmY::-webkit-scrollbar:horizontal, ._13VZM::-webkit-scrollbar:horizontal {
  height: 10px;
}
